.header-divider
.header
  .container
    .full-logo-wrapper
      a(class="icon-full-logo", href="http://goo.gl/QCNxif")
      // .logo-wrapper
      //   .shape
      //     .icon-logo-shape
      // a(class="text h2 blue", href="http://www.9WaveLabs.com")
      //  | Labs
    .location
      .icon-location
.ideology
  .container
    .content
      ul.message.clean
        li.green.h2 Simple
        li.yellow.h2 Fresh
        li.blue.h2 Intuitive
        li.purple.h2 You
      .map
        .icon-map
        .map-pointer
          .icon-location-pointer
          a(class="contact blue h5", href="mailto:contact@9wavelabs.com") @Contact Us

.portfolio
  .divider
  .container
    h1.header
      | Projects
    .projects
      .project.mochimochi
        a(class="logo-link", href="http://goo.gl/P4Wnr8", target="_blank")
          .logo.icon-mochi-background
        .content
          h3.header
            | MochiMochi: fun and tasty twist on match puzzer
          h5.description
            | MochiMochi is a fun little game for iOS and Android. Play it on your iPhone, iPod, iPad, Nexus, Galaxy and many more devices. Help the game by supporting it on KickStarter. Coming soon to Apple and Google Store.
          .links
            .link
              a(class="url info h6 link clean", href="http://goo.gl/QJMr1U", target="_blank")
                | Official Website
            .link
              a(class="url info h6 link clean", href="http://goo.gl/Jc8HXm", target="_blank")
                | , KickStarter

            // .link
            //   h6.info
            //     | Android:
            //   a(class="url h6 link clean", href="http://goo.gl/P4Wnr8", target="_blank")
            //     | goo.gl/P4Wnr8
            // .link
            //   h6.info
            //     | , iPhone:
            //   a(class="url h6 link clean", href="http://goo.gl/P4Wnr8", target="_blank")
            //     | goo.gl/P4Wnr8

      .acegmr.project
        .logo-link
          .logo.icon-acegmr-background
        .content
          h3.header
            | AceGmr (Ace Gamer)
          h5.description
            | AceGmr is an aggregaor of best gaming deals. Find awesome deals on games and gaming hardware from top stores and consoles.
          .links
            .link
              a(class="url info h6 link clean", href="http://goo.gl/uNlVgG", target="_blank")
                | Official Website


      .gokartsnyc.project
        .logo-link
          .logo.icon-gokartsnyc-background
        .content
          h3.header
            | GoKartsNYC design
          h5.description
            | Project under constructions.
          .links
            // .link
            //   h6.info
            //     | Android:
            //   a(class="url h6 link clean", href="http://goo.gl/P4Wnr8", target="_blank")
            //     | goo.gl/P4Wnr8
            // .link
            //   h6.info
            //     | , iPhone:
            //   a(class="url h6 link clean", href="http://goo.gl/P4Wnr8", target="_blank")
            //     | goo.gl/P4Wnr8
.footer
  .container
    .logo
      .icon-text-logo
