.header-divider
.header
  .container
    .full-logo-wrapper
      a(class="icon-full-logo", href="http://goo.gl/QCNxif")
      // .logo-wrapper
      //   .shape
      //     .icon-logo-shape
      // a(class="text h2 blue", href="http://www.9WaveLabs.com")
      //  | Labs
    .location
      .icon-location
.footer
  .container
    .logo
      .icon-text-logo
