.header
  .container
    .short-logo
      a(class="icon-short-logo", href="http://goo.gl/QCNxif")
.header-content
  .container
    .message
      .header
        h1
          | MochiMochi
      .body
        h2
          | New and tasty twist on a match puzzler
    .mochi-wrapper
      .icon-mochi-pink
      h4.message
        | Coming soon for iOS & Android
    .divider-wrapper
      .icon-divider
.kickstarter-content
  .container
    .kickstarter.wrapper
      .wrapper.message
        h3.header
          | Help and support MochiMochi on
          a(class="clean", href="http://goo.gl/QCNxif")
            | Kickstarter
        .message.text
          .section
            | Hey,
          .section
            | Thanks for visiting this project. Please check out the gameplay in the window below.
          .section
            | If you like the idea help and support the project on KickStarter.com. This will help polish the game, add different game modes and bring the game to more devices.
          .section
            | XOXO,
            br
            | 9WaveLabs
      .wrapper.widget
        .kickstarter-widget
.game-content
  .container
    .wrapper
      .video-container
        <iframe width="855" height="480" src="//www.youtube.com/embed/h_WTYXY8OYc?autoplay=1&amp;controls=0&amp;showinfo=0&amp;rel=0&amp;version=3&amp;loop=1&amp;playlist=h_WTYXY7OYc&amp;vq=hd720" frameborder="0" allowfullscreen=""></iframe>
      .mask-wrapper
      h1
        | Coming Soon
    .divider-wrapper
      .icon-divider

.platform-content
  .container
    .header.wrapper.new-section
      .h2
        | Platforms
    .android.wrapper
      .text-section
        h5.header
          | Android
        .body.text
          | Being one of most used mobile operating systems, it was a no-brainer to bring MochiMochi to the Android Platform. Play on some of the newest devices like the Samsung Galaxy S4, Nexus 4, HTC One as well as older mobile devices and tablets, including the Nexus 7, Nexus 10, Note and much more.
      .image-section.wrapper
        .icon-android-devices

    .iphone.wrapper
      .image-section.wrapper
        .icon-ios-devices
      .text-section
        h5.header
          | iOS
        .text.body
          | What kind of game would it be if it was not supported on iOS. Play on your iPhone, iPod and iPad. Play in retro mode, with gamepad like controls or with a more modern touch and scroll interface. Integrated with your iOS device, listen to your music collection while progressing though levels.
    .facebook.wrapper
      .text-section
        h5.header
          | Facebook, coming later this year
        .text.body
          | With the help of the Facebook platform, MochiMochi gets a new prospective with 3 exciting new models. Vs: Challange your friend in head-to-head exhabition matches to see how is best. HighScore: play until you drop, see if you can beet your friend's score. TimeAttack: beat the in the shortest amount of time and rank up the leader board'.
      .image-section
        .icon-facebook-gameplay
    .divider-wrapper
      .icon-divider

.gear-content
  .container
    .gear.wrapper.new-section
      .h2
        | Why building MochiMochi & Merchandise
    .wrapper
      .text-section
        h5.header
          | Why T-Shirts? Why Merchandise?
        .text.body
          | MochiMochi is the first and hopfully not the last project under the 9WaveLabs veil. After working in the industry for some time I decided that I would like to persue my own intrests and see my own ideas come to reality. Your support is greatly appricated and through purchase of apps,  merchendise like these T-Shirts and donations, I can continue making my dream reality. I greatly appriciate your help and time reading this post. I hope you like MochiMochi and I hope I'll be able to bring more projects like this one to you in the near future.
        h6.section
          | XOXO,
          br
          | Marcin K Cebula from 9WaveLabs
    .clothes
      .shirts-left
        .icon-pink-green-shirts
      .shirt-right
        .icon-pink-blue-shirts
.footer
  .container
    .footer-divider
    .wrapper.mochi-logo
      .icon-mochi-pink-small
      h3.mochi-text
        | MochiMochi
    .wrapper.wavedesign
      .icon-design-by-9wave