$DarkGray: #2f2f2f
$LightGray: #3d3d3c
$Green: #86ab66
$Purple: #9b59b6
$Yellow: #eba438
$Blue: #4ab3d2
$Black: #000000
$White: #FFFFFF

$FontDays:  'Days One', sans-serif
$FontLato: "Lato"
$FontQuicksand: 'Quicksand', sans-serif

.green
  color: $Green
.yellow
  color: $Yellow
.blue
  color: $Blue
.purple
  color: $Purple


ul.clean
  list-style-type: none
  padding: 0px
  margin: 0px

body
  font-family: "Days One"
  background-color: #F5F5F5
  margin: 0px


h1
  font-weight: 400
  font-size: 30px
  font-family: $FontDays
  color: #333
  word-spacing: -3px
  letter-spacing: -2px
  margin: 0.6em 0em 0.5em 0em

h3
  color: #222

h4
  font-size: 18px
  font-family: $FontQuicksand
  font-weight: 400
  color: #333
  line-height: 26px
  margin: 0.2em 0em 0.2em 0em
h5
  font-size: 18px
  font-family: $FontQuicksand
  font-weight: 400
  color: #666
  line-height: 26px
  margin: 0.2em 0em 0.2em 0em

h6, .h6
  font-size: 18px
  font-family: $FontQuicksand
  font-weight: 400
  color: #333
  line-height: 26px
  margin: 0.2em 0em 0.2em 0em

.link
  color: #6688cc
a.clean
  text-decoration: none
