body
  $BackgroundColor: #F9F9F9
  background-color: $BackgroundColor
.container
  background-color: white
  +container
  +box-shadow(left rgba(gray, 0.4) 0 0 25px, rgba(gray, 0.2) 0 0 3px 1px inset)
  +box-shadow(right rgba(gray, 0.4) 0 0 25px, rgba(gray, 0.2) 0 0 3px 1px inset)
.wrapper
  display: inline-block

.new-section
  +prepend-top($NewSectionTop)
  +prepend($NewSectionPrepend)
  +column($NewSectionColumn)
.divider-wrapper
  +column($DividerWrapperColumn)
  .icon-divider
    width: inherit

.section
  +append-bottom($SectionBottom)

=layout
  & > div3
    width: $BodyWidth
  .logo
    display: inline

  .content
    .header
      .container
        .short-logo
          +prepend-top($ShortLogoTop)
          +prepend($ShortLogoPrepend)
          +column($ShortLogoColumn)
          a
            display: inline-block
    .header-content
      .container
        .message
          +prepend-top($HeaderContentPrependTop)
          +prepend($HeaderContentPrepend)
          +column($HeaderContentColumn)
          .header
          .body
        .mochi-wrapper
          +prepend($HCMochiWrapperPrepend)
          +column($HCMochiWrapperColumn)
          +prepend-top($HCMochiWrapperPrependTop)
          .icon-mochi-pink
          .message
            text-align: center
            +prepend-top($HCMochiWrapperMessagePrependTop)
            +prepend($HCMochiWrapperMessagePrepend)
            +column($HCMochiWrapperMessageColumn)
            +last
        .divider-wrapper
          +prepend-top($HCDividerPrependTop)
  .kickstarter-content
    .container
      .kickstarter
        +prepend($KickstarterPrepend)
        +prepend-top($KickstarterTop)
        +last
        .wrapper.message
          +column($KickstarterMessageColumn)
          h3.header
            +column($KMHeaderColumn)
            +last
          .message
            +column($KMMessageColumn)
            +last
        .wrapper.widget
          +prepend-top($KWidgetTop)
          +column($KWidgetColumn)
          +last
          .kickstarter-widget
            height: $KWWHeight
            width: $KWWWidth
            background-color: #333
.game-content
  .container
    .wrapper
      position: relative
      +column($GCWColumn)
      +prepend($GCWPrepend)
      +prepend-top($GCWTop)
      +append-bottom($GCWBottom)
      .video-container
        padding: $GCWVideoPadding
        +single-box-shadow
        +border-radius($GCWVideoRadius)
      .mask-wrapper
        position: absolute
        top: $GCWMaskTop
        +opacity(0.6)
        +column($GCWMaskColumn)
        height: $GCWMaskHeight
        background-color: white
        +border-radius($GCWMaskRadius)
      h1
        position: absolute
        top: 0px
        +opacity(0.8)
        color: #FFF
        +prepend($GCWTextPrepend)
        +prepend-top($GCWTextTop)
        +rotate(-28deg)

.platform-content
  .container
    .header.wrapper.new-section
    .android.wrapper
      +column($PCAndroidColumn)
      +prepend($PCAndroidPrepend)
      +prepend-top($PCAndroidTop)
      .text-section
        +prepend-top($PCATextTop)
        +column($PCATextColumn)
        .header
        .body
      .image-section
        +prepend($PCATImagePrepend)
        +column($PCATImageColumn)
        min-height: 1px
    .iphone.wrapper
      +column($PCIphoneColumn)
      +prepend($PCIphonePrepend)
      +prepend-top($PCIphoneTop)
      .image-section
        +prepend-top($PCIImageTop)
        +column($PCIImageColumn)
        min-height: 1px
      .text-section
        +prepend-top($PCIITextTop)
        +column($PCIITextColumn)
        min-height: 1px
        .header
        .body
    .facebook.wrapper
      +column($PCFacebookColumn)
      +prepend($PCFacebookPrepend)
      +prepend-top($PCFacebookTop)
      .text-section
        +prepend-top($PCFTextTop)
        +column($PCFTextColumn)
        .header
        .body
      .image-section
        +prepend($PCFImagePrepend)
        +column($PCFImageColumn)
        +prepend-top($PCFImageTop)
        min-height: 1px
    .divider-wrapper
      +prepend-top($PCDividerTop)

.gear-content
  .container
    .header
    .wrapper
      +column($GCWrapperColumn)
      +prepend($GCWrapperPrepend)
      .text-section
        h5.header
          +prepend-top($GCWTextHeaderTop)
        .text.body
          +prepend-top($GCWTextBodyTop)
        .section
          +prepend-top($GCWTextSectionTop)
    .clothes
      display: inline-block
      +prepend-top($GCClothesTop)
      .shirts-left
        +prepend($GCCShirtLeftPrepend)
        +column($GCCShirtLeftColumn)
        .icon-pink-green-shirts
      .shirt-right
        +prepend($GCCShirtRightPrepend)
        +column($GCCShirtLeftColumn)
        .icon-pink-blue-shirts
    .divider-wrapper
      z-index: 10
      /* +prepend-top(100px)

.footer
  height: $FooterHeight
  position: relative
  margin-top: $FooterMarginTop
  .footer-divider
    height: $FDividerHeight
    background-color: $Blue
  .container
    padding-bottom: $FDContainerBottom
    position: relative
    top: 0px
    .wrapper.mochi-logo
      +prepend($FDCMochiLogoPrepend)
      +column($FDCMochiLogoColumn)
      +prepend-top($FDCMochiLogoTop)
      .icon-mochi-pink-small
        +column($FDCMochiPinkColumn)
      .mochi-text
        +prepend-top($FDCMochiTextTop)
        +column($FDCMochiTextColumn)
    .wrapper.wavedesign
      +prepend-top($FDCMochiDesignTop)
      +prepend($FDCMochiDesignPrepend)
      .icon-design-by-9wave
        +column($FDCDesignByColumn)
