@function newPosition($pOriginalSize, $pNewSize, $pOriginalPosition)
  @return ($pNewSize / $pOriginalSize) * $pOriginalPosition

@function updateSize($pSize, $pDivider)
  @return $pSize * $pDivider

=generateIcon($pName, $pWidth, $pHeight, $pDivider)
  height: updateSize($pHeight, $pDivider)
  width: updateSize($pWidth, $pDivider)
  background: url("/assets/icons/#{ $pName }") no-repeat
  background-size: updateSize($pWidth, $pDivider) updateSize($pHeight, $pDivider)

=generateDivider($pName, $pWidth, $pHeight, $pDivider)
  height: updateSize($pHeight, $pDivider)
  width: updateSize($pWidth, $pDivider)
  background: url("/assets/app/#{ $pName }") repeat-x
  background-size: updateSize($pWidth, $pDivider) updateSize($pHeight, $pDivider)





=generate-index-sprites($pWidth, $pHeight)
  $Width: 1024px
  $Height: 794px
  [class^="icon-"], [class*=" icon-"]
    background: url("/assets/app/index-sprites-white.png") no-repeat
    background-size: $pWidth $pHeight
  .icon-full-logo
    background-position: newPosition($Width, $pWidth, -550px) newPosition($Height, $pHeight, -300px)
    width: newPosition($Width, $pWidth, 300px)
    height: newPosition($Width, $pWidth, 126px)


=generate-index-icons($pDivider)
  [class^="icon-"], [class*=" icon-"]
  .icon-divider
    +generateDivider("divider_gray.png", 50px, 24px, $pDivider)
  .icon-short-logo
    +generateIcon("short_logo.jpg", 216px, 78px, $pDivider)
  .icon-mochi-pink
    +generateIcon("mochi_pink.jpg", 382px, 350px, $pDivider)
  .icon-android-devices
    +generateIcon("androids.jpg", 516px, 427px, $pDivider)
  .icon-ios-devices
    +generateIcon("iphones.jpg", 414px, 448px, $pDivider)
  .icon-facebook-gameplay
    +generateIcon("facebook_gameplay.jpg", 533px, 308px, $pDivider)
  .icon-guy-pink
    +generateIcon("man_pink_shirt.jpg", 300px, 600px, $pDivider)
  .icon-girl-green
    +generateIcon("girl_green_shirt.jpg", 300px, 550px, $pDivider)
  .icon-girl-pink
    +generateIcon("girl_pink_shirt.jpg", 300px, 550px, $pDivider)
  .icon-guy-blue
    +generateIcon("man_blue_shirt.jpg", 300px, 600px, $pDivider)
  .icon-pink-green-shirts
    +generateIcon("pink_shirt_green_shirt.jpg", 504px, 608px, $pDivider)
  .icon-pink-blue-shirts
    +generateIcon("pink_shirt_blue_shirt.jpg", 524px, 608px, $pDivider)
  .icon-mochi-pink-small
    +generateIcon("mochi_pink_small.jpg", 100px, 91px, $pDivider)
  .icon-design-by-9wave
    +generateIcon("designed_by_logo.jpg", 214px, 58px, $pDivider)
