<div class="container">
	<div class="row">
		<% (1..6).each do %>
			<img class="span2" src="http://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Left4Dead2.jpg/250px-Left4Dead2.jpg">
	<% end %>
</div>