$header-padding: 40px

h1
  font-size: 40px
  color: white

h3
  font-size: 13px
h5
  font-size: 12px

.h2
  font-size:  39px !important
.h6
  font-size: 15px

$BodyWidth: 968px
$MapTop: 55px
$MapPointerBottom: 215px
$MapPointerLeft: 83px
$ContactLeft: 59px
$ContactBottom: 90px
$IdeologyTop: 20px
$MessageTop: 50px
$ProjectHeight: 203px
$header-padding: 40px
$header-padding: 40px
$FooterLogoTop: 26px
$header-padding: 40px

$LocationSize: 5
$LocationPrepend: 16
$LogoPrepend: 1
$MapSize: 16
$MapPrepend: 1
$IdeologyPrepend: 5
$ProjectsPrepend: 4
$ContentPull: 4
$ContentSize: 21
$HeaderPrepend: 5
$FooterLogoPrepend: 22
$FooterLogoSize: 9
