div class="header-top"
/ div class="navbar navbar-fixed-top navbar-inverse"
/   div class="navbar-inner"
/     div class="container"
/       ul class="nav"
/       a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"
/         span class="icon-bar"
/         span class="icon-bar"
/         span class="icon-bar"
/       a class="brand" href="#{root_path}#/games/pc" alt="Admin"
/         | Ace Gamer
/       div class="nav-collapse"
/         = render 'layouts/application/nav_links'
/ div id="notifications" class="container"
